$tablet: 768px;
$desktop: 992px;
$primary-color: #ea5a17;
$secondary-color: #5eb1bf;
$brand-black: #042a2b;
$brand-white: #fcebd8;
$accent-color: #f5a242;

@mixin button-style($bg, $clr) {
  background: $bg;
  border: solid 1px $bg;
  color: $clr;

  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

button,
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:disabled {
    background-color: lighten(#36454f, 55%);
    border: solid #36454f 1px;
    color: #36454f;
  }
}
a {
  text-decoration: none;
  display: inline-block;
}

a:not([rel~="external"]) {
  line-height: initial;
  &:after {
    display: block;
    content: "";
    border-bottom: solid 1px #0d6efd;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
  &:after {
    transform-origin: 0 50%;
  }
}

a[rel~="external"] {
  padding-right: 8px;
  position: relative;

  &::after {
    position: relative;
    left: 8px;
    top: 6px;
    content: url("./Images/external-link.svg");
    transition: 0.3s;
  }

  &:hover {
    text-decoration: none;

    &::after {
      left: 16px;
    }
  }
}

.btn-primary {
  @include button-style($primary-color, #fff);
}

.btn-secondary {
  @include button-style($secondary-color, #fff);
}

.btn-inverse {
  @include button-style(#fff, $primary-color);
}
